/* Сброс стилей */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; /* Убираем внешние отступы */
}

p:last-child {
  margin-bottom: 0; /* Убираем нижний отступ у последнего абзаца */
}

ul {
  margin: 0; /* Убираем внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
  list-style: none; /* Убираем маркеры списка */
}

a {
  color: currentColor; /* Устанавливаем цвет ссылок равным текущему цвету текста */
  text-decoration: none; /* Убираем подчеркивание у ссылок */
}

button {
  cursor: pointer; /* Устанавливаем курсор в виде указателя при наведении на кнопку */
}

img {
  display: block; /* Устанавливаем изображения как блочные элементы */
  max-width: 100%; /* Устанавливаем максимальную ширину изображений в зависимости от контейнера */
  height: auto; /* Сохраняем пропорции изображений */
}
